[Unit]
Description="New Harvest Motor Control"
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/new-harvest-rpi-drive-system
ExecStart=bash start_service.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target